* {
    margin: 0;
    padding: 0;
}

body{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

#main-container{

    width: 800px;
    height: 700px;
    border: 1px solid;
    border-color: rgb(2, 8, 14);
    position: absolute;
}

#pageHeader h1{
    text-align: center;
}

#catDate{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* background-color: brown; */

}


#category{
   width : 50% ;
   height : 100px;
   /* background-color: aqua; */
}

#date{
    width: 400px;
    
}
option{
    width: 100%;
    height: 100px;
}
input{
    border : 0;
}
#verticalLine{
            border-left: 2px solid grey;
            height: 100px;
        
}

#cat{
    width: 100%;
    height: 50%;
    border: 0;
    background: transparent;
}

#cat:hover{
    background: transparent;
    border: 0 grey;
}
#cat ::after{
    background: transparent;
}
#date input{
    width: 100%;
    height: 50%;
    border: 0;
}

#desc input{
    width: 800px;
    height: 100px;
}

option{
    width: 400px;
    height: 100px;
}
li{
    list-style-type: none;
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
}

#addbttn{
    position: relative;
    background-color: aqua;
    text-align: center;
    width: 200px;
    height: 50px; 
    justify-content: center;
    left: 190px;
}
#deletebttn{
    position: fixed;
    background-color: aqua;
    text-align: center;
    width: 200px;
    height: 50px; 
    left: 750px;
    top: 265px;
  
}
#category-value{
    float : right;
    width: 8%;
    height: 30px;
    background-color: brown;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#result{
    flex-wrap: wrap;
}

.fa-duotone fa-trash{
    font-size: larger;
}